* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #e63946;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo path:nth-child(2) {
  stroke-dasharray: 494px;
  stroke-dashoffset: 494px;
  animation: line-animation 2s ease forwards;
}

#logo path:nth-child(3) {
  stroke-dasharray: 484px;
  stroke-dashoffset: 484px;
  animation: line-animation 2s ease forwards 0.3s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 494px;
  stroke-dashoffset: 494px;
  animation: line-animation 2s ease forwards 0.6s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 535px;
  stroke-dashoffset: 535px;
  animation: line-animation 2s ease forwards 0.9s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 227px;
  stroke-dashoffset: 227px;
  animation: line-animation 2s ease forwards 1.2s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 509px;
  stroke-dashoffset: 509px;
  animation: line-animation 2s ease forwards 1.5s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 464px;
  stroke-dashoffset: 464px;
  animation: line-animation 2s ease forwards 1.8s;
}
#logo path:nth-child(9) {
  stroke-dasharray: 509px;
  stroke-dashoffset: 509px;
  animation: line-animation 2s ease forwards 2.1s;
}
#logo path:nth-child(10) {
  stroke-dasharray: 494px;
  stroke-dashoffset: 494px;
  animation: line-animation 2s ease forwards 2.4s;
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}
